USE [master]
GO
/****** Object:  Database [EFTDBv2]    Script Date: 20/04/2020 23:23:37 ******/
CREATE DATABASE [EFTDBv2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EFTDBv2', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EFTDBv2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EFTDBv2_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EFTDBv2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EFTDBv2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EFTDBv2]
GO
/****** Object:  Table [dbo].[Ammunition]    Script Date: 20/04/2020 23:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ammunition](
	[AmmunitionID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Damage] [int] NOT NULL,
	[Penetration] [int] NOT NULL,
	[ArmourDamage] [int] NOT NULL,
	[Accuracy] [int] NOT NULL,
	[Recoil] [int] NOT NULL,
	[FragmentationChance] [decimal](5, 2) NOT NULL,
	[RicochetChance] [decimal](5, 2) NOT NULL,
	[Speed] [int] NOT NULL,
	[CaliberID] [int] NOT NULL,
 CONSTRAINT [PK_Ammunition] PRIMARY KEY CLUSTERED 
(
	[AmmunitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Caliber]    Script Date: 20/04/2020 23:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caliber](
	[CaliberID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Caliber] PRIMARY KEY CLUSTERED 
(
	[CaliberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gear]    Script Date: 20/04/2020 23:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gear](
	[GearID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Slot] [nvarchar](50) NOT NULL,
	[Weight] [decimal](5, 3) NOT NULL,
	[Material] [nvarchar](50) NULL,
	[Class] [int] NULL,
	[Durability] [int] NULL,
	[Slots] [int] NULL,
	[MovementSpeed] [int] NULL,
	[TurnSpeed] [int] NULL,
	[Ergonomics] [int] NULL,
	[RicochetChance] [float] NULL,
	[SoundReduction] [nvarchar](20) NULL,
	[BlocksEarpiece] [bit] NULL,
	[BlocksEyewear] [bit] NULL,
	[BlocksFaceCover] [bit] NULL,
	[BlocksHeadwear] [bit] NULL,
	[BlocksArmour] [bit] NULL,
 CONSTRAINT [PK_Gear] PRIMARY KEY CLUSTERED 
(
	[GearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loadout]    Script Date: 20/04/2020 23:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loadout](
	[LoadoutID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UserID] [int] NOT NULL,
	[EarpieceID] [int] NULL,
	[HeadwearID] [int] NULL,
	[BodyArmourID] [int] NULL,
	[PrimaryWeaponID] [int] NULL,
	[SecondaryWeaponID] [int] NULL,
	[HolsterWeaponID] [int] NULL,
	[RigID] [int] NULL,
	[BackpackID] [int] NULL,
 CONSTRAINT [PK_Loadout] PRIMARY KEY CLUSTERED 
(
	[LoadoutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20/04/2020 23:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Admin] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weapon]    Script Date: 20/04/2020 23:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weapon](
	[WeaponID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Slot] [nvarchar](50) NOT NULL,
	[Weight] [decimal](5, 2) NOT NULL,
	[VerticalRecoil] [int] NOT NULL,
	[HorizontalRecoil] [int] NOT NULL,
	[Range] [int] NOT NULL,
	[Ergonomics] [int] NOT NULL,
	[FireRate] [int] NOT NULL,
	[Single] [bit] NOT NULL,
	[Burst] [bit] NOT NULL,
	[Auto] [bit] NOT NULL,
	[CaliberID] [int] NOT NULL,
 CONSTRAINT [PK_Weapon] PRIMARY KEY CLUSTERED 
(
	[WeaponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ammunition]  WITH CHECK ADD  CONSTRAINT [FK_Ammunition_Caliber] FOREIGN KEY([CaliberID])
REFERENCES [dbo].[Caliber] ([CaliberID])
GO
ALTER TABLE [dbo].[Ammunition] CHECK CONSTRAINT [FK_Ammunition_Caliber]
GO
ALTER TABLE [dbo].[Loadout]  WITH CHECK ADD  CONSTRAINT [FK_Loadout_Gear_Backpack] FOREIGN KEY([BackpackID])
REFERENCES [dbo].[Gear] ([GearID])
GO
ALTER TABLE [dbo].[Loadout] CHECK CONSTRAINT [FK_Loadout_Gear_Backpack]
GO
ALTER TABLE [dbo].[Loadout]  WITH CHECK ADD  CONSTRAINT [FK_Loadout_Gear_BodyArmour] FOREIGN KEY([BodyArmourID])
REFERENCES [dbo].[Gear] ([GearID])
GO
ALTER TABLE [dbo].[Loadout] CHECK CONSTRAINT [FK_Loadout_Gear_BodyArmour]
GO
ALTER TABLE [dbo].[Loadout]  WITH CHECK ADD  CONSTRAINT [FK_Loadout_Gear_Earpiece] FOREIGN KEY([EarpieceID])
REFERENCES [dbo].[Gear] ([GearID])
GO
ALTER TABLE [dbo].[Loadout] CHECK CONSTRAINT [FK_Loadout_Gear_Earpiece]
GO
ALTER TABLE [dbo].[Loadout]  WITH CHECK ADD  CONSTRAINT [FK_Loadout_Gear_Headwear] FOREIGN KEY([HeadwearID])
REFERENCES [dbo].[Gear] ([GearID])
GO
ALTER TABLE [dbo].[Loadout] CHECK CONSTRAINT [FK_Loadout_Gear_Headwear]
GO
ALTER TABLE [dbo].[Loadout]  WITH CHECK ADD  CONSTRAINT [FK_Loadout_Gear_Rig] FOREIGN KEY([RigID])
REFERENCES [dbo].[Gear] ([GearID])
GO
ALTER TABLE [dbo].[Loadout] CHECK CONSTRAINT [FK_Loadout_Gear_Rig]
GO
ALTER TABLE [dbo].[Loadout]  WITH CHECK ADD  CONSTRAINT [FK_Loadout_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Loadout] CHECK CONSTRAINT [FK_Loadout_User]
GO
ALTER TABLE [dbo].[Loadout]  WITH CHECK ADD  CONSTRAINT [FK_Loadout_Weapon_Holster] FOREIGN KEY([HolsterWeaponID])
REFERENCES [dbo].[Weapon] ([WeaponID])
GO
ALTER TABLE [dbo].[Loadout] CHECK CONSTRAINT [FK_Loadout_Weapon_Holster]
GO
ALTER TABLE [dbo].[Loadout]  WITH CHECK ADD  CONSTRAINT [FK_Loadout_Weapon_Primary] FOREIGN KEY([PrimaryWeaponID])
REFERENCES [dbo].[Weapon] ([WeaponID])
GO
ALTER TABLE [dbo].[Loadout] CHECK CONSTRAINT [FK_Loadout_Weapon_Primary]
GO
ALTER TABLE [dbo].[Loadout]  WITH CHECK ADD  CONSTRAINT [FK_Loadout_Weapon_Secondary] FOREIGN KEY([SecondaryWeaponID])
REFERENCES [dbo].[Weapon] ([WeaponID])
GO
ALTER TABLE [dbo].[Loadout] CHECK CONSTRAINT [FK_Loadout_Weapon_Secondary]
GO
ALTER TABLE [dbo].[Weapon]  WITH CHECK ADD  CONSTRAINT [FK_Weapon_Caliber] FOREIGN KEY([CaliberID])
REFERENCES [dbo].[Caliber] ([CaliberID])
GO
ALTER TABLE [dbo].[Weapon] CHECK CONSTRAINT [FK_Weapon_Caliber]
GO
USE [master]
GO
